body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin-top: 150px;
}
#inputValue{
    width: 300px;
    height: 25px;
    /* margin-left: 40%; */
    border-radius: 5px;
}
.addTodo{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: yellow;
}
.todo-lists-elem{
    color: aliceblue;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li,button{
    display: inline-block;
}
button{
     background-color: yellow;
     width: 150px;
     height: 30px;
     border-radius: 3px;
     margin: 5px;
}
.box{
    width: 100%;
    background-color: black(173, 47, 47);
    margin-left: 40%;
}
section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
   
}